# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Logs/
UserSettings/
MemoryCaptures/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.csproj
*.sln
*.user
*.suo

# Unity package
*.unitypackage

# env
.env
Assets/.env